<div class="right text_editor">
	<div id="<%= id %>_editor-toolbar" class="toolbar">
	  <a data-wysihtml5-command="bold">Bold</a>
	  <a data-wysihtml5-command="italic">Italic</a>
	  <a data-wysihtml5-command="underline">Underline</a>
	  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">H1</a>
	  <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">H2</a>

	  <a data-wysihtml5-command="insertUnorderedList">Bul. List</a>
	  <a data-wysihtml5-command="insertOrderedList">Num. List</a>


	  <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
	  <a data-wysihtml5-command="createLink">Link</a>
	  <div data-wysihtml5-dialog="createLink" style="display: none;">
	    <label>
	      Link:
	      <input data-wysihtml5-dialog-field="href" value="http://" class="text">
	    </label>
	    <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
	  </div>
	</div>
	<textarea id="<%= id %>_editor" placeholder="" autofocus>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.
	</textarea>
	<div class="comment"><%= comment %></div>
</div>

<script>
var editor = new wysihtml5.Editor("<%= id %>_editor", { // id of textarea element
  toolbar:      "<%= id %>_editor-toolbar", // id of toolbar element
  parserRules:  wysihtml5ParserRules // defined in parser rules set 
});
</script>