<!DOCTYPE html>
<html>
<head>
	<title><%= yield :title %></title>
	<%= stylesheet_link_tag     params[:controller], media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
				
</head>
<body>

<%= render '/layouts/header' %> 

<%= yield %>

<%= render '/layouts/footer' %> 

<%= render '/layouts/modals' %>

<!-- 

	<script src="js/selectbox.js"></script>
	<script src="js/jcarousel.js"></script>
	<script src="js/slides.js"></script>
	<script src="js/jquery.MetaData.js"></script>
	<script src="js/jquery.rating.js"></script>
-->
</body>
</html>