<!DOCTYPE html>
<html>
<head>
	<title><%= yield :title %></title>
	<%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<header class="big">
	<div class="gradient">
		<div class="w940px">
			<div class="logo left"><a href="/"><img class="svg" src="/assets/common/logo.svg"></a></div>
			
			<%= render '/layouts/_header_menu' %>

			<div class="clear"></div>
			
			<div id="search_block">
				<div class="title">Find Your Act</div>
				<div class="desc">Search from over 17,345 entertainers. Your search ends here!</div>

				<div class="form">
				      <img class="svg" src="/assets/common/search.svg">
                      <input placeholder="Search for name, location or category ..." type="text">
					  <a class="button" href='/discover'>SEARCH</a>
                </div>
	
			</div>
		</div>
	</div>
</header>

<%= yield %>

<footer class="big">
	<div class="gradient">
		<div class="w940px" id="top_footer">
			
			
			<div class="w25">
				<div class="footer-titles"><img class="svg" src="/assets/common/logo.svg" alt=""></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<a class="bold" href="">More about us <img class="svg" src="/assets/common/small_arrow.svg"></a>
			</div>
			
			
			<div class="w25">
				<div class="footer-titles bold">Get in touch</div>
				<p>21 Eccleston Street, London <br>sw1w 9lx, England</p>
				<p>+44 20 3456 7894</p>
				<p>info@entertaina.com</p>
			</div>
			
			
			<div class="w25">
				<div class="footer-titles bold">Recent posts</div>
				<div class="thumbs">
				
					<a href="blog_posts/1"><img src="/assets/index/footer/recent_posts/1.jpg"></a>
					<a href="blog_posts/1"><img src="/assets/index/footer/recent_posts/2.jpg"></a>
					<a href="blog_posts/1"><img src="/assets/index/footer/recent_posts/3.jpg"></a>
					<a href="blog_posts/1"><img src="/assets/index/footer/recent_posts/4.jpg"></a>
					<a href="blog_posts/1"><img src="/assets/index/footer/recent_posts/5.jpg"></a>
					<a href="blog_posts/1"><img src="/assets/index/footer/recent_posts/6.jpg"></a>
				
				</div>			
			</div>
			
			
			<div class="w25" id="subscribing">
				<div class="footer-titles bold">Subscribing</div>
				<p>Receive the latest articles and news from Entertaina.com</p>

				
				<div class="form">
                      <input placeholder="hello@entertaina.com" type="text">
					  <a class="button" href="/discover"><img class="svg" src="/assets/common/small_arrow.svg"></a>
                </div>
				
				
				
			</div>			


			<div class="line"></div>
		</div>
		
		
		<div class="w940px">
			<div class="copy left"> ©All rights reserved</div>
		
			<div class="social right">
				<a href="/"><img class="svg" src="/assets/common/social_icons/twitter.svg"></a>
				<a href="/"><img class="svg" src="/assets/common/social_icons/facebook.svg"></a>
				<a href="/"><img class="svg" src="/assets/common/social_icons/vine.svg"></a>
			</div>
			<div class="footer-container">
			<%= render '/layouts/_footer_menu' %>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</footer>


















<%= render '/layouts/modals' %>

<!-- 
	<script src="js/selectbox.js"></script>
	<script src="js/jcarousel.js"></script>
	<script src="js/slides.js"></script>
	<script src="js/jquery.MetaData.js"></script>
	<script src="js/jquery.rating.js"></script>
-->
</body>
</html>