<!DOCTYPE html>
<html>
<head>
	<title><%= yield :title %></title>
	<meta name="viewport" content="width=device-width" />
	<%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<header class="big">
	<div class="gradient">
		<div class="w940px">
			<div class="logo left"><a href="/"><img src="/assets/common/logo.png"></a></div>
			
			<%= render '/layouts/_header_menu' %>

			<div class="clear"></div>
			
			<div id="search_block">
				<div class="title">Find Your Act</div>
				<div class="desc">Search from over 17,345 entertainers. Your search ends here!</div>

				<div class="form">
				      <img src="/assets/common/search.png">
                      <input placeholder="Search for name, location or category ..." type="text">
					  <a class="button" href='/discover'>SEARCH</a>
                </div>
	
			</div>
		</div>
	</div>
</header>

<%= yield %>

<footer class="big">
	<div class="gradient">
		<div class="w940px" id="top_footer">
			
			
			<div class="w25">
				<div class="footer-titles"><img src="/assets/common/logo.png" alt=""></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<a class="bold" href="">More about us<i class="fa fa-angle-right"></i></a>
			</div>
			
			
			<div class="w25">
				<div class="footer-titles bold">Get in touch</div>
				<p>21 Eccleston Street, London <br>sw1w 9lx, England</p>
				<p>+44 20 3456 7894</p>
				<p>info@entertaina.com</p>
			</div>
			
			
			<div class="w25">
				<div class="footer-titles bold">Recent posts</div>
				<div class="thumbs">
				
					<a href="blog_posts/1"><img src="/assets/index/recent_posts/1.jpg"></a>
					<a href="blog_posts/1"><img src="/assets/index/recent_posts/2.jpg"></a>
					<a href="blog_posts/1"><img src="/assets/index/recent_posts/3.jpg"></a>
					<a href="blog_posts/1"><img src="/assets/index/recent_posts/4.jpg"></a>
					<a href="blog_posts/1"><img src="/assets/index/recent_posts/5.jpg"></a>
					<a href="blog_posts/1"><img src="/assets/index/recent_posts/6.jpg"></a>
				
				</div>			
			</div>
			
			
			<div class="w25" id="subscribing">
				<div class="footer-titles bold">Subscribing</div>
				<p>Receive the latest articles and news from Entertaina.com</p>

				
				<div class="form">
                      <input placeholder="hello@entertaina.com" type="text">
					  <a class="button" href="/discover"><i class="fa fa-angle-right"></i></a>
                </div>
				
				
				
			</div>			


			<div class="line"></div>
		</div>
		
		<%= render '/layouts/footer' %>
	</div>
</footer>




<%= render '/layouts/modals' %>

</body>
</html>